<ul>
  {% for post in site.posts limit:4%}
  <li class="short-article">
    <div class="row mini-post">
      <div class="col-md-3 col-sm-3 col-xs-12 mini-post-image">
        <a class="mini-post-link" href="{{ post.url }}">
          <img src="{{ post.image_header | relative_url }}" alt="iphone image">
        </a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12 mini-post-content">
        <a class="mini-post-title" href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>