<!-- Navbar links (collapsed in mobile view) -->
<div class="collapse navbar-collapse" id="navbarNav">
    <ul id="navbar-items" class="navbar-nav ms-auto">
        <li class="nav-item">
            {% assign merged_string = page.return_home | append: "#home" %}
            <a class="page-scroll nav-link" href={{ merged_string }}>Home</a>
        </li>
        <li class="nav-item">
            {% assign merged_string = page.return_home | append: "#about" %}
            <a class="page-scroll nav-link" href={{ merged_string }}>CV</a>
        </li>
        <li class="nav-item">
            {% assign merged_string = page.return_home | append: "#competences" %}
            <a class="page-scroll nav-link" href={{ merged_string }}>Competences</a>
        </li>
        <li class="nav-item">
            {% assign merged_string = page.return_home | append: "#articles" %}
            <a class="page-scroll nav-link" href={{ merged_string }}>Articles</a>
        </li>
        <li class="nav-item">
            {% assign merged_string = page.return_home | append: "#contact" %}
            <a class="page-scroll nav-link" href={{ merged_string }}>Contact</a>
        </li>
    </ul>
</div>