<!-- Navbar links (collapsed in mobile view) -->
<div class="collapse navbar-collapse bg-dark" id="navbarNav">
    <ul id="navbar-items" class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="page-scroll nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="page-scroll nav-link" href="#about">CV</a>
        </li>
        <li class="nav-item">
            <a class="page-scroll nav-link" href="#competences">Competences</a>
        </li>
        <li class="nav-item">
            <a class="page-scroll nav-link" href="#ideas">Ideas</a>
        </li>
        <li class="nav-item">
            <a class="page-scroll nav-link" href="#contact">Contact</a>
        </li>
    </ul>
</div>