/*------------------------------
  3. Post Area
--------------------------------*/

.post-area {
  background-color: #f9f9f9;
  height: 100%;
  display: inline;
  float: left;
  padding: 0px 0;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.first-line-about {
  font-size: 150%;
  // color: #fff;
  font-weight: 300;
  text-align: center;
}

.post-area p {
  font-size: 100%;
  // color: #fff;
  font-weight: 300;
  margin-bottom: 15px;
}

.post-area h2 {
  // color: #black;
  font-size: 15px;
  font-weight: 300;
}

.post-area h3 {
  margin: 0 0 1px;
  margin-top: 1px;
  font-size: 150%;
  color: #000;
}

.post-area h4 {
  margin: 0 0 1px;
  margin-bottom: 0px;
  font-size: 110%;
  color: #000;
  font-weight: 100;
  line-height: 10px;
}

.first-row-post {
  margin-top:14%;
  background-color: #f9f9f9;
  margin-bottom: 4%;
  display: block;
}

.first-row-post h1{
  // color: #000;
  font-size: 500%;
  font-style: normal;
  color: rgb(36, 36, 36);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
  word-break: break-word;
}



.date p{
  color: rgb(107, 107, 107);
  font-size: 15px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Container */
.container-fluid {
  margin-top: 6%;
  --bs-gutter-x: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content-post div{
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}

.content{
  font-size: 16px;
  line-height: 21px;
}

.post-image{
  display: block;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 5px;
}

.post-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 7px;
}

.post-image p{
  font-size: 12px;
  line-height: 14px;
  color: rgb(121, 117, 117);
  text-align: center
}

@media (max-width: 767px) {
  
}