/*------------------------------
  3. Post Area
--------------------------------*/

.post-area {
  background-color: #f9f9f9;
  height: 100%;
  display: inline;
  float: left;
  padding: 0px 0px;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.first-line-about {
  font-size: 150%;
  // color: #fff;
  font-weight: 300;
  text-align: center;
}

.post-area p {
  font-size: 100%;
  // color: #fff;
  font-weight: 300;
  margin-bottom: 15px;
}

.post-area h2 {
  // color: #black;
  font-size: 15px;
  font-weight: 300;
}

.post-area h3 {
  margin: 0 0 1px;
  margin-top: 1px;
  font-size: 150%;
  color: #000;
}

.post-area h4 {
  margin: 0 0 1px;
  margin-bottom: 0px;
  font-size: 110%;
  color: #000;
  font-weight: 100;
  line-height: 10px;
}

.first-row-post {
  margin-top:14%;
  background-color: #f9f9f9;
  margin-bottom: 4%;
  display: block;
}

.first-row-post h1{
  // color: #000;
  font-size: 500%;
  font-style: normal;
  color: rgb(36, 36, 36);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
  word-break: break-word;
}



.date p{
  color: rgb(107, 107, 107);
  font-size: 15px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Container */
.container-fluid {
  margin-top: 6%;
  --bs-gutter-x: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content-post div{
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}

.content{
  font-size: 16px;
  line-height: 21px;
}

.post-image{
  display: block;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 5px;
}

.post-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 7px;
}

.post-image p{
  font-size: 12px;
  line-height: 14px;
  color: rgb(121, 117, 117);
  text-align: center
}

.side-bar{
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #373737;
  border-right: 5px solid black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

@media (max-width: 767px) {
  
}

.side-bar-content{
  margin-top: 40%;
  margin-left: 5%;
}

.side-bar-content h2{
  line-height: 8px;
}

.side-bar-title{
  margin:5%;
  // color: blue;
}

.side-bar-list{
  margin-top: 20%;
}

.title-h2{
  color: white;
  font-size: 20px !important;
}

// test

@mixin perspective($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  perspective: $perspective;
}

@mixin transition($transition...){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
} // @include transition(transform 0.3s);

@mixin transform-origin($transform-origin){
  -webkit-transform-origin: $transform-origin;
  -moz-transform-origin: $transform-origin;
  transform-origin: $transform-origin;
} // @include transform-origin(50% 0);

@mixin transform-style($transform-style){
  -webkit-transform-style: $transform-style;
  -moz-transform-style: $transform-style;
  transform-style: $transform-style;
} // @include transform-origin(50% 0);

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

$brand-primary: #3ec1d5;

div a {
  position: relative;
  display: inline-block;
  //margin: 15px 25px;
  outline: none;
  // color: #fff;
  text-decoration: none;
  // text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}


div.section { 
  width: 100%;
  // padding: 100px 10px;
}

.crosshair {
  .link-effect-14 {
     a {
        color: #666;
        padding: 10px 20px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        @include transition(.3s ease-out);
        span{
           &::before{
              width: 5px;
              height: 5px;
              background: transparent;
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              border-top: 2px solid  $brand-primary;
              border-left: 2px solid  $brand-primary;
              @include transition (.3s);
              opacity: 0;
           }
           &::after{
              width: 5px;
              height: 5px;
              background: transparent;
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              border-right: 2px solid  $brand-primary;
              border-bottom: 2px solid  $brand-primary;
              @include transition (.3s);
              opacity: 0;

           }
        }
        &::before {
           width: 5px;
           height: 5px;
           background: transparent;
           content: "";
           position: absolute;
           right: 0;
           top: 0;
           border-right: 2px solid  $brand-primary;
           border-top: 2px solid  $brand-primary;
           @include transition (.3s);
           opacity: 0;
        }
        &::after {
           width: 5px;
           height: 5px;
           background: transparent;
           content: "";
           position: absolute;
           left: 0;
           bottom: 0;
           border-left: 2px solid $brand-primary;
           border-bottom: 2px solid  $brand-primary;
           @include transition (.3s);
           opacity: 0;
        }
        &:hover{
           color:  $brand-primary;
           &::before{
              opacity: 1;
              right: 5px;
              top: 5px;
           }
           &::after{
              opacity: 1;
              left: 5px;
              bottom: 5px;
           }
           span{
              &::before{
                 opacity: 1;
                 left: 5px;
                 top: 5px;
              }
              &::after{
                 opacity: 1;
                 right: 5px;
                 bottom: 5px;
              }
           }
        }
     }
  }
}
