
/* small mobile :320px. */
@media (max-width: 767px) {
  /*--------------------------------*/
  /*  2. Header top Area
  /*--------------------------------*/
  .nav-link{
    padding-right:calc(var(--bs-gutter-x));
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
  }
   .navbar{
    padding-bottom: 0px;
   }
  .navbar-brand{
    /* padding-right:calc(var(--bs-gutter-x) * .5); */
    padding-left:calc(var(--bs-gutter-x) * .5) !important;
  }
  .menu-phone{
    padding-right:0px !important;
    padding-left:0px !important;
  }
  .header-area {
    height: 50px !important;
    background: #000;
  }
  .navbar-header a.navbar-brand, .stick .navbar-header a.navbar-brand {
    display: inline-block;
    /* height: 50px  !important; */
    /* padding: 9px 0; */
  }
  .nav.navbar-nav.navbar-right, .stick .nav.navbar-nav.navbar-right {
    background-color: #252525;
    padding: 0;
    margin-top: 0;
  }
  .home-container{
    background-color: black !important;
    /* height: 50px !important; */
  }
  .sticky-logo h1 {
    text-align: left;
    font-size: 1.7rem;
  }
  .navbar-button{
    /* padding-top:5px; */
    padding-right:10px;
  }
  .navbar-collapse{
    width: 100vw;
  }
   /*--------------------------------*/

  /* 2.1. Image Area
  /*--------------------------------*/  
  .home-area {
    background-size: 570%;
    height:100%;
  }
  .mu-header-featured-area .col-md-6 {
    width: 100%;
    /* padding: 0 15px; */
  }

  /* Stack image and content vertically */
  .mu-header-featured-area .row {
      display: block;
  }
  .mu-header-featured-img {  
    overflow: hidden; 
    max-height: 320px;
      margin-top: 20%;  
	    margin-left: 15%;
	    margin-right: 15%;
      /* max-width: 100%; */
      /* height: auto; */
  }
  .mu-header-featured-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensure the image fills the container */
    object-position: top;  /* Crop from the top, keeping the bottom part visible */
}
  .mu-header-featured-content {       
      /* margin-left: 15%;
      margin-right: 15%; */
      width: 100%;
      margin-right: 0%;
      top: 60%;
  }

  .mu-header-featured-content h1 {
    font-size: 200%;
    color: #fff;
    font-weight: 250;
    margin-bottom: 10px;
  }
  
  .mu-header-featured-content h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 250;
    margin-bottom: 10px;
  }
  
  .mu-header-featured-content h1 span {
    font-weight: 600;
  }
  
  .mu-header-featured-content p{
    color: #fff;
  }


  .layer-1-3 a.ready-btn {
    padding: 8px 15px;
  }
  .section-headline h2 {
    font-size: 30px;
  }
  .section-headline h3 {
    font-size: 25px;
  }
  .footer-content {
    margin-bottom: 30px;
  }

  /******************/
  /*   About area   */

  .section-headline h1 {
    margin-top: 55px;
    font-size: 36px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 2.5%;
  }

  .first-line-about{
    font-size: 110%;
    color: #fff;
    font-weight: 390;
    /* margin-bottom: 15px; */
    text-align: center;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .header-area {
    height: 50px !important;
    background: #000;
  }
  .navbar-header a.navbar-brand, .stick .navbar-header a.navbar-brand {
    display: inline-block;
    /* height: 50px  !important; */
    /* padding: 9px 0; */
  }
  .nav.navbar-nav.navbar-right, .stick .nav.navbar-nav.navbar-right {
    background-color: #252525;
    padding: 0;
    margin-top: 0;
  }
  .home-container{
    background-color: black !important;
    /* height: 50px !important; */
  }
}
