/*----------------------------------------
  5.Idea Area
----------------------------------------*/

.ideas-area {
	
	padding: 100px 1000 px 10 px 10 px;
  background-color: #091d20;
  height: 100%;
  display: inline;
	/* opacity: 0.8; */
	float: left;
	padding: 0px 0;
	width: 100%;
	background-position: top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	/* background-size: 200%;  */
}

.ideas-area p {
	// font-size: 200%;
	color: #fff;
	font-weight: 300;
	margin-bottom: 15px;
}

/* .ideas-area h1 {
	margin-top: 5%;
	font-size: 300%;
	color: #fff;
	font-weight: 300;
	margin-bottom: 15px;
}

.ideas-area h1 span {
	font-weight: 700;
} */

.short-article{
	background-color: #f6f5ff;
	overflow-y: hidden;
	height: 140px;
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid black; 
	border-radius: 60px;
}

.mini-post-content{
	background-color: #b0e0e8;
	border-radius: 60px;
	text-align: center;
	padding-top: 20px;
}

.mini-post-content p{
	color: #000000;
}

.mini-post-name{
	background-color: #3ec1d5;
  	border-radius: 60px;
  	text-align: center;
  	padding-top: 20px;
}

.mini-post-name-h2{
	// font-size: 40px;
	margin-top: 0.25rem;
  	margin-bottom: 0.25rem;
}

.mini-post-name-h2 a{
	color: #ffffff;
	font-size: 1rem;
}

.mini-post{
	height: 100%;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.clearfix {
	margin-top:20px;
  overflow: auto;
}

.img_right {
  float: right;
}

.img_left {
  float: left;
}

.more-link{
	width:100%;
	height:80px;
	background-color: #72b7c2;
	text-align: center;
	margin-top: -60px;
    border-left: 10px solid rgba(114, 183, 194, .5);
    border-right: 10px solid rgba(114, 183, 194, .5);
    border-top: 20px solid rgba(114, 183, 194, .5);
    border-bottom: 2px solid rgba(114, 183, 194, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border-radius: 10px;
}
