/*----------------------------------------
  5.Idea Area
----------------------------------------*/

.ideas-area {
	
	padding: 100px 1000 px 10 px 10 px;
  background-color: #091d20;
  height: 100%;
  display: inline;
	/* opacity: 0.8; */
	float: left;
	padding: 0px 0;
	width: 100%;
	background-position: top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	/* background-size: 200%;  */
}

.ideas-area p {
	// font-size: 200%;
	color: #fff;
	font-weight: 300;
	margin-bottom: 15px;
}

/* .ideas-area h1 {
	margin-top: 5%;
	font-size: 300%;
	color: #fff;
	font-weight: 300;
	margin-bottom: 15px;
}

.ideas-area h1 span {
	font-weight: 700;
} */

.short-article{
	background-color: #f6f5ff;
	overflow-y: hidden;
	height: 140px;
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid black; 
	border-radius: 60px;
}

.mini-post-content{
	background-color: #b0e0e8;
	border-radius: 60px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mini-post-content p{
	color: #000000;  
	font-weight: 400;
  margin-top: 0.5%;
  font-size: 15px;
}
.mini-post-title{
	font-size: 25px;
  	font-weight: 700;  
	margin-top: 1%;
  	margin-bottom: 0.5%;
	color: #114c55;
}

.mini-post-image{
	background-color: #3ec1d5;
  	border-radius: 60px;
  	text-align: center;
  	padding-top: 5px;
	height: 100%;
	padding-bottom: 5px;
}

.mini-post-link{
	height: 100%;
	overflow-y: hidden;
}

.mini-post-name-h2{
	// font-size: 40px;
	margin-top: 0.25rem;
  	margin-bottom: 0.25rem;
}

.mini-post-name-h2 a{
	color: #ffffff;
	font-size: 1rem;
}

.mini-post{
	height: 100%;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.clearfix {
	margin-top:20px;
  overflow: auto;
}

.img_right {
  float: right;
}

.img_left {
  float: left;
}

.more-link{
	width:100%;
	height:100px;
	background: linear-gradient(to top,
  #72b7c2 0%,
  #72b7c2 50%,
  rgba(114, 183, 194, 0) 100%);
	// background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	// background-color: #72b7c2;
	text-align: center;
	margin-top: -80px;
    // border-left: 10px solid rgba(114, 183, 194, .5);
    // border-right: 10px solid rgba(114, 183, 194, .5);
    // border-top: 20px solid rgba(114, 183, 194, .5);
    // border-bottom: 2px solid rgba(114, 183, 194, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 40px;
 
	z-index:1000;
}

.more-link h2{
	margin-top: 40px;
}

@media (max-width: 767px) {
  .short-article{
	height: 330px;
}

.mini-post-image{
	height: 140px;
}
}
