---
layout: home
---
<section id="post" class="post-area area-padding">
    <div class="side-bar">
        <div class="side-bar-content">
            <div class="side-bar-title">
                <h2 class="title-h2">Articles list</h2>
            </div>
            <div class="side-bar-list crosshair section">
                <nav class="link-effect-14" id="link-effect-14">
                    {% for category in site.categories %}
                    <h1>{{ category[0] }}</h1>
                    <ul>
                        {% for post in category[1] %}
                        <li class="name">
                            <h2 class="mini-post-name-h2">
                                <a href="{{ post.url }}">
                                    <span>{{ post.title }}</span>
                                </a>
                            </h2>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
    <div class="container content-post">
        <div class="first-row-post">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>

        <div class="date">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
            </div>
        </div>

        <div class="content">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {{ content }}
            </div>
        </div>
    </div>
</section>